:root {
  --body-background-color: #fafdff;

  /* Design system common colors */
  --text-color-primary: #1f1f1e;
  --text-color-secondary: #575756;

  --success-color-main: #21c6b6;
  --success-color-light: #59d4c8;
  --success-color-dark: #178a7f;

  --error-color-main: #e12a4e;
  --error-color-light: #e85f7a;
  --error-color-dark: #9d1d36;

  --warning-color-main: #f28b2d;
  --warning-color-light: #f5a861;
  --warning-color-dark: #a9611f;

  --info-color-main: #009bd6;
  --info-color-light: #40bae9;
  --info-color-dark: #006c95;

  /* Components */
  --card-header-background-color: #eee;
  --chat-widget-private-msg-mine: #329f92;
  --chat-widget-private-msg-not-mine: #5abcb3;
  --footer-background-color: #eee;
}

:root .diabeloop-blue {
  --primary-color-main: #009bd6;
  --primary-color-light: #40bae9;
  --primary-color-dark: #006c95;
  --primary-color-contrast-text: #fff;
  --logo-color: #00a3e2;
  --primary-light-5: #F2FAFD;

  --secondary-color-main: #edfaff;
  --secondary-color-light: #f5f9f9;
  --secondary-color-dark: #bbc7cc;

  --blip-color-primary-light: #4dabf5;
  --blip-color-primary-alt: #039be5;
  --blip-color-secondary-alt: #edfaff;
}

:root .diabeloop-pink {
  --primary-color-main: #e71980;
  --primary-color-light: #eb4799;
  --primary-color-dark: #a11159;
  --primary-color-contrast-text: #fff;
  --logo-color: #e72980;
  --primary-light-5: #FEF3F9;

  --secondary-color-main: #ffedf6;
  --secondary-color-light: #fcf1f7;
  --secondary-color-dark: #ccbbc5;

  --blip-color-primary-light: #ff67af;
  --blip-color-primary-alt: #d92575;
  --blip-color-secondary-alt: #ffedf7;
}
