:root {
  --body-background-color: #fafdff;

  /* Design system common colors */
  --text-color-primary: #1f1f1e;
  --text-color-secondary: #575756;

  --success-color-main: #21c6b6;
  --success-color-light: #59d4c8;
  --success-color-dark: #178a7f;
  --success-color-background: #E9F9F8;

  --error-color-main: #e12a4e;
  --error-color-light: #e85f7a;
  --error-color-dark: #9d1d36;
  --error-color-background: #FCEAED;
  --error-color-50: #f095A6;
  --error-color-20: #F9D4DC;
  --error-color-10: #FCEAED;
  --error-color-5 : #FDF4F6;

  --warning-color-main: #f28b2d;
  --warning-color-light: #f5a861;
  --warning-color-dark: #a9611f;
  --warning-color-background: #FEF3EA;
  --warning-color-50: #f9c596;
  --warning-color-20: #FCE8D5;
  --warning-color-10: #FEF3EA;
  --warning-color-5: #FEF9F4;

  --info-color-main: #009bd6;
  --info-color-light: #40bae9;
  --info-color-dark: #006c95;
  --info-color-background: #E6F6FD;
  --info-color-50: #80D1F1;
  --info-color-20: #CCEDF9;
  --info-color-10: #E6F6FD;

  --dark-blue-main: #035271;
  --dark-blue-light: #04668a;
  --dark-blue-dark: #023748;
  --dark-blue-background: #E6EEF1;
  --purple-main: #85529C;

  --pink-main: #e71980;
  --pink-light: #ff69b4;
  --pink-dark: #a11159;

  --grey-25: #D5D5D5;

  /* Components */
  --card-header-background-color: #eee;
  --chat-widget-private-msg-mine: #329f92;
  --chat-widget-private-msg-not-mine: #5abcb3;
  --footer-background-color: #eee;
  --light-grey-border-color: #e6e6e6;
  --button-care-team-values-applied-bg: #D3F4F0;
}

:root .diabeloop-blue {
  --primary-color-main: #009bd6;
  --primary-color-light: #40bae9;
  --primary-color-dark: #006c95;
  --primary-color-contrast-text: #fff;
  --primary-color-background: #E6F6FD;
  --logo-color: #00a3e2;

  --secondary-color-main: #edfaff;
  --secondary-color-light: #f5f9f9;
  --secondary-color-dark: #bbc7cc;

  --blip-color-primary-light: #4dabf5;
  --blip-color-primary-alt: #039be5;
  --blip-color-secondary-alt: #edfaff;
}

:root .diabeloop-pink {
  --primary-color-main: #e71980;
  --primary-color-light: #eb4799;
  --primary-color-dark: #a11159;
  --primary-color-contrast-text: #fff;
  --primary-color-background: #FDE8F2;
  --logo-color: #e72980;

  --secondary-color-main: #ffedf6;
  --secondary-color-light: #fcf1f7;
  --secondary-color-dark: #ccbbc5;

  --blip-color-primary-light: #ff67af;
  --blip-color-primary-alt: #d92575;
  --blip-color-secondary-alt: #ffedf7;
}
