.git
.gitignore
node_modules
server/node_modules
packageMounts/**/node_modules
npm-debug.log
_book
artifact_node.sh
config/*
!config/local.sh
!config/env.docker.sh
deploy
test/bin
coverage
tmp
web
*.log
yarn.lock

# Ignore old translation files
locales/*/*_old.json
