:root {
  --color-primary-main: #039be5;
  --color-primary-light: #4dabf5;
  --color-primary-dark: #1769aa;

  --color-secondary-main: #EDFAFF;
  --color-secondary-light: #F5F9F9;
  --color-secondary-dark: #D4E6E6;

  --color-error-main: #DE514B;
  --color-error-light: #DA3A1B;

  --blip-color-primary-main: red
}
